.hdrCls:hover {
    border: 2px solid rgba(255, 255, 255, 0.986) !important;
  }

.hdrCls {
    background-color: #063146;
    color: #ffffff;
    font-weight: 500;
    font-size: x-large;
}

.ftrCls {
    background-color: #063146;
    color: #ffffff;
    font-weight: 500;
    font-size: larger;
}

.cellCls {
     background-color: #ffffff;
     font-weight: 400;
     font-size: large;
}
