.card-list{
    width: 80vw;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:25px;
    padding: 10px;
   
    
}