@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  
}

.sidebar {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  /* text-align: center; */
  background: #063146;
  user-select: none;
  margin-top: -25px;
  width: 300px;
  padding-left: 30px;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .5s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
 
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 30px;
  color: #042331;
  padding: 6px 12px;
  background:white;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  background:#0a5275;
  top: 17px;
  font-size: 30px;
  color: #042331;
  padding: 4px 9px;
  transition: all .5s ease;
  margin-left : 40px;
  
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 205px;
}
#check:checked ~ section{
    margin-left: 280px;
  }
  section{

    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
  